atom.symlink/.node-gyp
atom.symlink/.apm
atom.symlink/compile-cache
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes
atom.symlink/projects.cson

git/gitconfig.symlink

vim.symlink/.netrwhist
