"*":
  "":
    coffee:
      jsx:
        source:
          editor:
            preferredLineLength: 100
    diff:
      source:
        editor:
          preferredLineLength: 100
    js:
      jsx:
        source:
          editor:
            preferredLineLength: 100
    matlab:
      source:
        editor:
          preferredLineLength: 100
    octave:
      source:
        editor:
          preferredLineLength: 100
  "atom-beautify":
    general:
      _analyticsUserId: "dd5ae96b-29e0-40aa-be70-a2344a5c6ad2"
      beautifyEntireFileOnSave: false
  autocomplete:
    includeCompletionsFromAllBuffers: false
  "autocomplete-plus": {}
  core:
    disabledPackages: [
      "jshint"
      "atom-jshint"
      "linter-scss-lint"
      "atom-ternjs"
      "atom-beautify"
      "file-types"
      "project-manager"
    ]
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
    ]
    telemetryConsent: "limited"
    themes: [
      "seti-ui"
      "monokai"
    ]
  editor:
    fontSize: 11
    invisibles: {}
    preferredLineLength: 120
    showIndentGuide: true
    showInvisibles: true
    softWrapAtPreferredLineLength: true
  emmet: {}
  esformatter:
    formatOnSave: true
  "exception-reporting":
    userId: "927ad9ee-b6a5-4937-bc3c-31ee92e96c24"
  "file-types":
    "\\.config$": "source.yaml"
  "git-plus":
    general:
      _analyticsUserId: "9944bdae-5be8-424e-948c-89988bad8a06"
  linter:
    ignoredLinterErrors: [
      "jshint"
    ]
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
    global:
      globalNodePath: "/Users/benoit/.node"
  "linter-jshint": {}
  "linter-scss-lint":
    executablePath: "/usr/local/opt/rbenv/shims/scss-lint"
  "linter-ui-default":
    panelHeight: 56
  "markdown-preview":
    grammars: [
      "source.gfm"
      "source.litcoffee"
      "text.plain"
      "text.plain.null-grammar"
    ]
    useGitHubStyle: true
  metrics:
    userId: "c5a6a7c8def523ce52153546d495c81bb7082706"
  "prettier-atom":
    formatOnSaveOptions:
      isDisabledIfNoConfigFile: true
      isDisabledIfNotInPackageJson: true
      showInStatusBar: true
    prettierEslintOptions: {}
    prettierOptions:
      printWidth: 100
      singleQuote: true
  react: {}
  "release-notes":
    viewedVersion: "0.90.0"
  "seti-syntax": {}
  "seti-ui":
    compactView: true
  tabs:
    enableVcsColoring: true
    usePreviewTabs: true
  "tool-bar":
    iconSize: "16px"
    position: "Left"
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
    keepMarkdownLineBreakWhitespace: false
