"*":
  "":
    coffee:
      jsx:
        source:
          editor:
            preferredLineLength: 100
    diff:
      source:
        editor:
          preferredLineLength: 100
    js:
      jsx:
        source:
          editor:
            preferredLineLength: 100
    matlab:
      source:
        editor:
          preferredLineLength: 100
    octave:
      source:
        editor:
          preferredLineLength: 100
  "atom-beautify":
    _analyticsUserId: "dd5ae96b-29e0-40aa-be70-a2344a5c6ad2"
    beautifyEntireFileOnSave: false
    general:
      _analyticsUserId: "1c7c7cff-cf81-41cf-a4b1-a08a6b6b7cae"
    js_preserve_newlines: true
    js_space_before_conditional: true
  autocomplete:
    includeCompletionsFromAllBuffers: false
  "autocomplete-plus": {}
  core:
    disabledPackages: [
      "jshint"
      "atom-jshint"
      "linter-jshint"
      "linter-scss-lint"
    ]
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
    ]
    telemetryConsent: "limited"
    themes: [
      "seti-ui"
      "monokai"
    ]
  editor:
    fontSize: 11
    invisibles: {}
    preferredLineLength: 100
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  emmet: {}
  esformatter:
    formatOnSave: true
  "exception-reporting":
    userId: "927ad9ee-b6a5-4937-bc3c-31ee92e96c24"
  "file-types":
    "\\.config$": "source.yaml"
  "git-plus": {}
  linter:
    ignoredLinterErrors: [
      "jshint"
    ]
    showErrorPanel: false
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
    globalNodePath: "/Users/benoit/.node"
  "linter-jshint": {}
  "linter-scss-lint":
    executablePath: "/usr/local/opt/rbenv/shims/scss-lint"
  "markdown-preview":
    grammars: [
      "source.gfm"
      "source.litcoffee"
      "text.plain"
      "text.plain.null-grammar"
    ]
    useGitHubStyle: true
  metrics:
    userId: "c5a6a7c8def523ce52153546d495c81bb7082706"
  react: {}
  "release-notes":
    viewedVersion: "0.90.0"
  "seti-ui":
    compactView: true
  tabs:
    usePreviewTabs: true
  "tool-bar":
    iconSize: "16px"
    position: "Left"
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
    keepMarkdownLineBreakWhitespace: false
