workspace:
  title: "workspace"
  paths: [
    "/D1/web/users/benoit/basic-react-redux"
    "/D1/web/users/benoit/heappi-upload"
    "/D1/web/users/benoit/heappi-bdcat"
    "/D1/web/users/benoit/heappi-import"
    "/D1/web/users/benoit/react-redux-universal-hot-example"
    "/D1/web/users/benoit/data-viewer"
    "/D1/web/users/benoit/react-native-nw-react-calculator"
    "/D1/web/users/benoit/samples/react-redux-universal-hot-example"
    "/D1/web/users/benoit/titlecase-french"
  ]
